<h2>
  <%= @todo_list.title %>
  <%= link_to edit_todo_list_path(@todo_list) do %>
    <i class="fa fa-edit"></i>
  <% end %>
  <%= link_to @todo_list, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fa fa-trash"></i>
  <% end %>
</h2>

<p>
  <strong>Description:</strong>
  <%= @todo_list.description %>
</p>

<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>


